/*
created by: Tiago @ http://lightradius.com
contact: hi@lightradius.com
*/

@font-face {
    font-family: pixelate;
    src: url('../fonts/pixelate.ttf'), url('../fonts/pixelate.eot'); /* IE9 */
}

* {
    border-radius: 0 !important;
}

body {
    background: rgb(128,128,128);
    text-shadow: -1px -1px 0px black;
}