/*
created by: Tiago @ http://lightradius.com
contact: hi@lightradius.com
*/

@font-face {
    font-family: pixelate;
    src: url('../fonts/pixelate.ttf'), url('../fonts/pixelate.eot'); /* IE9 */
}

* {
    border-radius: 0 !important;
}

body {
    background: url(../img/map.jpg) no-repeat center center fixed;
    background-size: cover;
    /* http://fc09.deviantart.net/fs12/i/2006/277/a/f/Worldmap_by_PhysicalMagic.jpg */
}

.flag {
    background: url(../img/pattern.png) repeat;
}

.jumbotron {
    color: rgb(255,255,255);
    background: rgba(0,0,0,0.3);
}

.panel img {
    width: 100px;
    box-shadow: 5px 5px 0px rgb(0,0,0);
}